body, html 
    margin:0
    padding:0
    position: relative


body 
    background-color: #1dd2af
    color: #fff
    
    transition: background-color 3000ms linear
    font-size: 20px

.ui.segment
    color: rgba(0,0,0, 0.87);

.join, .nickname
    padding-top: 10em
    
    .ui.form
        .field

            input
                font-size: 3em !important
                text-align: center !important
                max-width: 300px
                
            .button
                font-size: 3em !important
                text-align: center !important
                max-width: 300px

.create
    color: #fff !important
    margin-top: 5em

.logo 
    font-family: "Neucha" !important
    font-size: 90px !important
    width: 255px;
    color: #fff !important
    display:inline;
    

.vertical-wrapper
    min-height: 100vh;
    transform: translateY(40%);
    
.vertical-center
    transform: translateY(-50%);

.error-bar
    bottom: -5em
    left: 0
    width: 100%
    
    transition bottom 200ms ease
    
    background-color: #c0392b
    color: #fff
    font-size: 3em
    text-align center
    padding: 1em
    position: fixed
    
    &.active
        transition bottom 500ms ease
        bottom: 0em !important
        