template(name="join")
    
    .ui.center.aligned.container.join
        
        .ui.center.aligned.header.logo
            | Hakoot!
        
        .ui.form
            .field(class="{{#if error}}error{{/if}}")
                input(placeholder="Game PIN")
            .field
                .ui.fluid.black.button.join-game Enter
    
    .error-bar(class="{{#if error}}active{{/if}}")
        | #{error}
