template(name="join")
    
    .ui.container.join(style="max-width: 400px;padding-top:40%")
        
        .ui.center.aligned.header.logo
            | Hakoot!
        
        .ui.form
            .field(class="{{#if error}}error{{/if}}")
                input(placeholder="Game PIN")
            .field
                .ui.fluid.gray.button.join-game Join
    
    .error-bar(class="{{#if error}}active{{/if}}")
        | #{error}
