template(name="nickname")
    
    .ui.container.center.aligned.nickname
        
        .ui.center.aligned.header.logo
            | Hakoot!
        
        .ui.form
            .field
                input(placeholder="Nickname")
            .field
                button.ui.fluid.gray.button.go OK, go!
    
    .error-bar(class="{{#if error}}active{{/if}}")
        | #{error}